* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  opacity: 1;
  transition: 7s opacity;
}

body.fade-out {

    opacity: 0;
    transition: none;
}
/* Landing Section */

#showcase {
  background-image: url(../img/chris_main.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */

nav {
  background:black;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color:black;
}

.fixed-nav li.logo {
  max-width:500px;
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
}

/* Intro Section */

#intro {

  background: #303030;
  color: #fff;
  text-align: justify;
}

#intro div {
  margin: auto 50px;
  flex: 1;
  padding: 20px;
}

.box-1 {
  font-size: 26px;
  height:100%;

}

@media (min-width: 950px) {
  #intro {
    display: inline-flex;
    padding: 50px;
  }
}





/* Media Queries */

@media screen and (max-width: 1190px) and (min-width: 900px) {
  #showcase {
    margin-left: -300px;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  #showcase {
    margin-left: -500px;
  }
}

@media screen and (max-width: 700px) and (min-width: 501px) {
  #showcase {
    margin-left: -700px;
  }
}

@media screen and (max-width: 500px) {
  #showcase {
    background-image: url(../img/chris_mobile.png);

  }
}
